# pandas

## Introducción

pandas es una librería para manipulación y análisis de datos. Se crea en 2008 ante el incremento del uso de Python en aplicaciones científicas tradicionalmente dominadas por **R**, MATLAB o SAS y fundamentándose en la madurez y estabilidad de **NumPy** y **SciPy**. Su nombre deriva de  ***Pan**el **Da**ta*, término habitual en estadística y econometría para referirse a conjuntos de datos multidimensionales.

Permite:
- Importación sencilla desde CSV, JSON, Excel, SQL, etc. 
- Operaciones de manipulación: selección, filtrado, agregación.
- Limpieza de datos (*data cleaning* o *data cleansing*).
- *Data wrangling* o *Data mungling*: transformación de datos entre formatos

Estructuras de pandas:
- Series: array de 1D
- DataFrame: array de 2D
- Panel: array de 3D


Documentación oficial: https://pandas.pydata.org/docs/

In [1]:
import pandas as pd

## Series

El tipo **Series** es un array unidimensional que contiene una secuencia de valores y una secuencia de etiquetas asociadas a los valores, denominada índice. La existencia de este índice explícito (que puede ser de cualquier tipo inmutable) es la principal diferencia con un vector de NumPy, que tiene un índice implícito (una secuencia de enteros indicando la posición). Los índices de Series son como los de un diccionario, mientras que los índices de **NumPy** son como los de una lista.

### Estructura

In [2]:
serie_ejemplo = pd.Series([1,2,3,4,5,6]) # Serie con índice implícito ya que parte de una lista
print(serie_ejemplo)
print(type(serie_ejemplo))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
# De modo análogo a como en NumPy creamos vectores partiendo de listas, en pandas podemos crear series a partir de diccionarios. En este caso, las claves del diccionario serán los índices de la serie y los valores del diccionario serán los valores de la serie.

estudiantes_con_notas = pd.Series({'Estudiante 1': 5, 'Estudiante 2': 10, 'Estudiante 3': 7, 'Estudiante 4': 8})

In [4]:
pd.Series([5,10,7,8], index=["Estudiante 1","Estudiante 2","Estudiante 3","Estudiante 4"]) # También se puede hacer así

Estudiante 1     5
Estudiante 2    10
Estudiante 3     7
Estudiante 4     8
dtype: int64

In [5]:
asientos_ocupados_teatro = pd.Series({1: "Pepe Pérez", 7: "Juan Gómez", 6: "Ana López", 2: "María García", 5: "Luisa Martínez"})
asientos_ocupados_teatro

1        Pepe Pérez
7        Juan Gómez
6         Ana López
2      María García
5    Luisa Martínez
dtype: object

### Acceso a elementos de una serie

Hay que tener cuidado con realizar operaciones sobre posiciones en lugar de índices, ya que el índice explícito puede ser una un número y no una cadena de texto. En este caso, si se realiza una operación sobre una posición, se estará refiriendo a la posición del índice implícito, no al índice explícito.

Para operar sobre posiciones se utiliza el atributo **iloc** (de *integer location*), mientras que para operar sobre índices se utiliza el atributo **loc** o directamente el operador de indexación **[]**, como en listas o diccionarios. Lo más común es utilizar el operador de indexación, ya que es más corto y legible.

In [6]:
print(asientos_ocupados_teatro[7]) # Devuelve el valor de la primera posición del índice explícito 1
print(asientos_ocupados_teatro.loc[7]) # Equivalente a lo anterior
print(asientos_ocupados_teatro.iloc[1]) # Devuelve el valor de la posición 0
# print(asientos_ocupados_teatro[0]) # Da error por ser los índices explícitos números y no existir el indice 0 (sería una fuente de errores de permitirse)

Juan Gómez
Juan Gómez
Juan Gómez

In [7]:
print(estudiantes_con_notas["Estudiante 1"]) # Devuelve el valor de la primera posición del índice explícito 1
print(estudiantes_con_notas.loc["Estudiante 1"]) # Equivalente a lo anterior
print(estudiantes_con_notas.iloc[0]) # Devuelve el valor de la posición 0
print(estudiantes_con_notas[0]) # Devuelve el valor del índice implícito 0 (la posición 0) 
# pero lanza un warning, no debe hacerse así sino con iloc y será eliminado en futuras versiones de pandas por ser fuente de errores
# print(estudiantes_con_notas.loc[0]) # Da error por ser los índices explícitos strings y no existir el índice 0

5
5
5
5

/tmp/ipykernel_20161/2295211556.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(estudiantes_con_notas[0]) # Devuelve el valor del índice implícito 0 (la posición 0)

In [8]:
# Modificando valores por índices
estudiantes_con_notas['Estudiante 1'] = 10
estudiantes_con_notas['Estudiante 3':] = 5 # Modifica los valores desde el índice 3 hasta el final (slicing)
estudiantes_con_notas

Estudiante 1    10
Estudiante 2    10
Estudiante 3     5
Estudiante 4     5
dtype: int64

In [9]:
print(estudiantes_con_notas.mean()) # Media de las notas
print(estudiantes_con_notas.std()) # Desviación típica

7.5
2.886751345948129

In [10]:
print(estudiantes_con_notas.describe()) # Estadísticas descriptivas de las notas de los estudiantes

count     4.000000
mean      7.500000
std       2.886751
min       5.000000
25%       5.000000
50%       7.500000
75%      10.000000
max      10.000000
dtype: float64

## DataFrame

### Estructura de un DataFrame


Un **DataFrame** es una estructura de datos tabular bidimensional, con filas y columnas etiquetadas. Es similar una tabla de base de datos relacional (SQL). Se puede considerar como una colección de Series que comparten el mismo índice. Es la estructura de datos más utilizada en pandas.

In [11]:
pd.DataFrame({'Notas': estudiantes_con_notas}) # Creamos un DataFrame a partir de la serie de notas (le estamos dando nombre a la columna)

              Notas
Estudiante 1     10
Estudiante 2     10
Estudiante 3      5
Estudiante 4      5

In [12]:
# Creamos directamente un dataframe con las notas de varios alumnos en varias asignaturas
pd.DataFrame({'PIA': estudiantes_con_notas, 'SAA': [5, 6, 7, 8], 'MIA': [9, 8, 7, 6], 'SBD': [10, 9, 8, 7], 'BDA': [6, 7, 8, 9]})

              PIA  SAA  MIA  SBD  BDA
Estudiante 1   10    5    9   10    6
Estudiante 2   10    6    8    9    7
Estudiante 3    5    7    7    8    8
Estudiante 4    5    8    6    7    9

En el caso anterior hemos utilizado los indices de ```estudiantes_con_notas``` para crear el dataframe. Fijate que estamos añadiendo un objetos Series para la primera columna y un arrays para las siguientes.

In [13]:
# Otra opción sería especificar los índices explícitos y recibir todas las notas como listas
pd.DataFrame({'PIA': estudiantes_con_notas, 'SAA': [5, 6, 7, 8], 'MIA': [9, 8, 7, 6], 'SBD': [10, 9, 8, 7], 'BDA': [6, 7, 8, 9]}, index=['Nombre Erroneo', 'Estudiante 2', 'Estudiante 3', 'Estudiante 4'])

                 PIA  SAA  MIA  SBD  BDA
Nombre Erroneo   NaN    5    9   10    6
Estudiante 2    10.0    6    8    9    7
Estudiante 3     5.0    7    7    8    8
Estudiante 4     5.0    8    6    7    9

Hemos cometido un error en el nombre de un estudiante, y como el primer listado de notas (PIA) era una Serie, no encuentra la nota para el índice 'Nombre Erroneo' y nos devuelve un **NaN (Not a Number)** (constante de NumPy). Para evitar esto, podemos crear un DataFrame a partir de un diccionario de listas, en lugar de un diccionario de Series. Las otras notas son simples listas sin índice, por lo que se asume que son correctas.
Sin embargo, en este tipo de procesos es importante estar alerta. Que las notas de cada alumno solo estén identificadas por su posición en una lista es poco robusto, ya que si se añade un alumno o se cambia el orden de los alumnos, las notas se asignarán a alumnos distintos. Es mejor utilizar un diccionario de Series, ya que el índice explícito permite identificar correctamente a cada alumno.

La siguiente solución es más robusta:

In [14]:
notas_pia = pd.Series({'Marvin Minsky': 5.7, 'John McCarthy': 6.5, 'Claude Shannon': 6.5, 'Alan Turing': 7.0})
notas_saa = pd.Series({'Marvin Minsky': 8.0, 'John McCarthy': 8.5, 'Claude Shannon': 8.0, 'Alan Turing': 9.0})
notas_mia = pd.Series({'Marvin Minsky': 7.0, 'John McCarthy': 6.0, 'Claude Shannon': 6.0, 'Alan Turing': 7.0})
notas_sbd = pd.Series({'Marvin Minsky': 9.0, 'John McCarthy': 9.0, 'Claude Shannon': 9.0, 'Alan Turing': 10.0})
notas_bda = pd.Series({'John McCarthy': 7.8, 'Claude Shannon': 6.9, 'Alan Turing': 9.9, 'Marvin Minsky': 10}) # El orden no importa porque tenemos índices explícitos

notas_df = pd.DataFrame({'PIA': notas_pia, 'SAA': notas_saa, 'MIA': notas_mia, 'SBD': notas_sbd, 'BDA': notas_bda})
notas_df

                PIA  SAA  MIA   SBD   BDA
Alan Turing     7.0  9.0  7.0  10.0   9.9
Claude Shannon  6.5  8.0  6.0   9.0   6.9
John McCarthy   6.5  8.5  6.0   9.0   7.8
Marvin Minsky   5.7  8.0  7.0   9.0  10.0

Un par de problemas a tener en consideración que podríamos tener en análisis de datos al utilizar *strings* como índices strings:
- Los pueden no ser únicos (dos personas pueden tener el mismo nombre)
- Puede haber variaciones sobre cómo se escriben los nombres (por ejemplo, con mayúsculas o minúsculas) en distintas fuentes de datos.
Son dos de los motivos por los que en bases de datos relacionales se utilizan siempre claves primarias únicas indexadas, a menudo enteros autoincrementales que no tienen significado en sí mismos (claves surrogadas).

In [15]:
notas_pia = pd.Series({'Marvin Minsky': 5.7, 'John McCarthy': 6.2, 'Claude Shannon': 6.5, 'Alan Turing': 7.0})
notas_saa = pd.Series({'marvin minsky': 8.0, 'McCarthy': 8.5, 'shannon': 8.0, 'Alan-Turing': 9.0})
notas_df_liandola_parda = pd.DataFrame({'PIA': notas_pia, 'SAA': notas_saa})
notas_df_liandola_parda

                PIA  SAA
Alan Turing     7.0  NaN
Alan-Turing     NaN  9.0
Claude Shannon  6.5  NaN
John McCarthy   6.2  NaN
Marvin Minsky   5.7  NaN
McCarthy        NaN  8.5
marvin minsky   NaN  8.0
shannon         NaN  8.0

### Ejercicio propuesto: Crear un DataFrame a partir de distintas estructuras de datos

In [16]:
notas_modulo1= {'Marvin Minsky': 5.7, 'John McCarthy': 6.2, 'Claude Shannon': 6.5, 'Alan Turing': 7.0}
notas_modulo2= [('Marvin Minsky', 8.0), ('John McCarthy', 8.5), ('Claude Shannon', 8.0), ('Alan Turing', 9.0)]
notas_modulo3= {('Marvin Minsky', 9.5), ('John McCarthy', 8.9), ('Claude Shannon', 8.7), ('Alan Turing', 9.1)}
notas_modulo4= [3.3, 4.5, 6.7, 8.9]
import numpy as np
notas_modulo5= np.array([3.5, 4.1, 2.1, 9.3])
notas_modulo6= pd.Series([8.3, 6.5, 5.7, 5.9])
notas_modulo7= pd.Series([3.3, 4.5, 6.7, 8.9], index=['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing'])
notas_modulo8= pd.Series({'Marvin Minsky': 5.7, 'John McCarthy': 6.2, 'Claude Shannon': 6.5, 'Alan Turing': 7.0})

#### Solución

In [17]:

# notas_modulo6.index= ['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing']
pd.DataFrame({
    'Módulo 1': notas_modulo1,
    'Módulo 2': dict(notas_modulo2),
    'Módulo 3': dict(notas_modulo3),
    'Módulo 4': pd.Series(notas_modulo4, index=['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing']),
    'Módulo 5': pd.Series(notas_modulo5, index=['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing']),
    'Módulo 6': pd.Series(notas_modulo6.values, index=['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing']),
    # 'Módulo 6': dict(zip(['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing'], notas_modulo6.values)),
    'Módulo 7': notas_modulo7,
    'Módulo 8': notas_modulo8
    })

,Módulo 1,Módulo 2,Módulo 3,Módulo 4,Módulo 5,Módulo 6,Módulo 7,Módulo 8
Marvin Minsky,5.7,8.0,9.5,3.3,3.5,8.3,3.3,5.7
John McCarthy,6.2,8.5,8.9,4.5,4.1,6.5,4.5,6.2
Claude Shannon,6.5,8.0,8.7,6.7,2.1,5.7,6.7,6.5
Alan Turing,7.0,9.0,9.1,8.9,9.3,5.9,8.9,7.0

### Información sobre un DataFrame

In [18]:
notas_df.info() # Información sobre el DataFrame

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, Alan Turing to Marvin Minsky
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PIA     4 non-null      float64
 1   SAA     4 non-null      float64
 2   MIA     4 non-null      float64
 3   SBD     4 non-null      float64
 4   BDA     4 non-null      float64
dtypes: float64(5)
memory usage: 192.0+ bytes

In [19]:
notas_df.head() # Primeras 5 filas (en este caso, solo hay 4, normalmente trabajaremos con datasets muchísimo más grandes y será útil poder ver solo las primeras filas para hacernos una idea de los datos)

                PIA  SAA  MIA   SBD   BDA
Alan Turing     7.0  9.0  7.0  10.0   9.9
Claude Shannon  6.5  8.0  6.0   9.0   6.9
John McCarthy   6.5  8.5  6.0   9.0   7.8
Marvin Minsky   5.7  8.0  7.0   9.0  10.0

In [20]:
notas_df.shape # Número de filas y columnas

(4, 5)

In [21]:
notas_df.keys() # Objeto "Index" con los nombres y tipo de las columnas

Index(['PIA', 'SAA', 'MIA', 'SBD', 'BDA'], dtype='object')

In [22]:
notas_df.columns # Equivalente al anterior pero solo para DataFrame (el método keys() funciona también para recuperar las claves de Series)

Index(['PIA', 'SAA', 'MIA', 'SBD', 'BDA'], dtype='object')

In [23]:
notas_df.dtypes # Tipos de datos de las columnas

PIA    float64
SAA    float64
MIA    float64
SBD    float64
BDA    float64
dtype: object

In [24]:
notas_df.index # Índices de las filas

Index(['Alan Turing', 'Claude Shannon', 'John McCarthy', 'Marvin Minsky'], dtype='object')

### Escritura y lectura de ficheros de datos

Pandas ofrece una gran variedad de funciones para importar y exportar datos desde y hacia ficheros. Sin profundizar en ellos, a modo de ejemplo podemos almacenar el DataFrame ```notas_df``` en un **fichero CSV** con la función **to_csv** y recuperarlo con la función **read_csv**.

In [25]:
notas_df.to_csv('data/grades.csv') # el directorio data debe existir
df = pd.read_csv('data/grades.csv', index_col=0)
df

                PIA  SAA  MIA   SBD   BDA
Alan Turing     7.0  9.0  7.0  10.0   9.9
Claude Shannon  6.5  8.0  6.0   9.0   6.9
John McCarthy   6.5  8.5  6.0   9.0   7.8
Marvin Minsky   5.7  8.0  7.0   9.0  10.0

el parámetro ```index_col=0``` indica que la primera columna del fichero csv es el índice explícito del DataFrame, si no se indica se crea un índice implícito.

In [26]:
pd.read_csv('data/grades.csv')

       Unnamed: 0  PIA  SAA  MIA   SBD   BDA
0     Alan Turing  7.0  9.0  7.0  10.0   9.9
1  Claude Shannon  6.5  8.0  6.0   9.0   6.9
2   John McCarthy  6.5  8.5  6.0   9.0   7.8
3   Marvin Minsky  5.7  8.0  7.0   9.0  10.0